*{
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    height: 120vh;
    background-image: url(https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMHRlY2hub2xvZ3l8ZW58MHx8MHx8fDA%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cal-structure{
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.128);
    box-shadow: 1px 1px 5px black;
}

.cal-structure input{
    width: 70px;
    height: 70px;
    color: white;
    font-size: 20px;
    margin: 5px;
    border: 1px solid rgb(126, 217, 242);
    border-radius: 5%;
    background-color: rgba(240, 248, 255, 0.079);
    cursor: pointer;
}

.cal-structure input:hover{
    background-color: rgba(240, 248, 255, 0.496);
    box-shadow: inset 1px 1px 5px black;
    color: black;
}

.input-field{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.input-field input{
    text-align: right;
    flex: 1;
    font-size: 40px;
}

input.is-equal{
    width: 158px;
}

.first-row input{
    background-color: rgba(0, 0, 0, 0.255);
}